<%= form_for(@cafe) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  
  
  <div class="field">
    <%= f.label :mon_open %><br>
    <%= f.time_field :mon_open %>
  </div>

  <div class="field">
    <%= f.label :mon_close %><br>
    <%= f.time_field :mon_close %>
  </div>

  <div class="field">
    <%= f.label :tue_open %><br>
    <%= f.time_field :tue_open %>
  </div>

  <div class="field">
    <%= f.label :tue_close %><br>
    <%= f.time_field :tue_close %>
  </div>

  <div class="field">
    <%= f.label :wed_open %><br>
    <%= f.time_field :wed_open %>
  </div>

  <div class="field">
    <%= f.label :wed_close %><br>
    <%= f.time_field :wed_close %>
  </div>
  
  <div class="field">
    <%= f.label :thu_open %><br>
    <%= f.time_field :thu_open %>
  </div>

  <div class="field">
    <%= f.label :thu_close %><br>
    <%= f.time_field :thu_close %>
  </div>
  
  <div class="field">
    <%= f.label :fri_open %><br>
    <%= f.time_field :fri_open %>
  </div>
  
  <div class="field">
    <%= f.label :fri_close %><br>
    <%= f.time_field :fri_close %>
  </div>
  
  <div class="field">
    <%= f.label :sat_open %><br>
    <%= f.time_field :sat_open %>
  </div>
  
  <div class="field">
    <%= f.label :sat_close %><br>
    <%= f.time_field :sat_close %>
  </div>
  
  <div class="field">
    <%= f.label :sun_open %><br>
    <%= f.time_field :sun_open %>
  </div>

  <div class="field">
    <%= f.label :sun_close %><br>
    <%= f.time_field :sun_close %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>