<%= form_for(@cafe) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>


  <div class="field">
    <%= f.label "Monday" %><br>
    <%= f.text_field :mon_open %> - 
    <%= f.text_field :mon_close %>
  </div>

  <div class="field">
    <%= f.label "Tuesday" %><br>
    <%= f.text_field :tue_open %> - 
    <%= f.text_field :tue_close %>
  </div>

  <div class="field">
    <%= f.label "Wednesday" %><br>
    <%= f.text_field :wed_open %> - 
    <%= f.text_field :wed_close %>
  </div>

  <div class="field">
    <%= f.label "Thursday" %><br>
    <%= f.text_field :thu_open %> - 
    <%= f.text_field :thu_close %>
  </div>

  <div class="field">
    <%= f.label "Friday" %><br>
    <%= f.text_field :fri_open %> - 
    <%= f.text_field :fri_close %>
  </div>

  <div class="field">
    <%= f.label "Saturday" %><br>
    <%= f.text_field :sat_open %> - 
    <%= f.text_field :sat_close %>
  </div>

  <div class="field">
    <%= f.label "Sunday" %><br>
    <%= f.text_field :sun_open %> - 
    <%= f.text_field :sun_close %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>